<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Format</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
    <script type="text/javascript" th:src="@{/js/format.js}"></script>
</head>
<body>
<nav th:replace="fragments/topnav :: top-nav" />

<section class="container">
    <form>
        <table class="general-table">
            <tr>
                <th></th>
                <td><input type="file" id="formatFile" /></td>
            </tr>
        </table>
<!--        <table class="xml-table">-->
<!--            <tr th:each="item : ${list}">-->
<!--                <th th:text="${item.key}"></th>-->
<!--                <td><input type="text" th:value="${item.key}"></td>-->
<!--            </tr>-->
<!--        </table>-->
    </form>
</section>
</body>
</html>