<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Format</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>
<body>
    <nav class="top-nav">
        <ul>
            <li><a th:href="@{/format}"> 포맷 수정 </a></li>
            <li>22</li>
            <li>33</li>
        </ul>
    </nav>
    <section class="container">
        <table class="xml-table">
            <tr>
                <th>ㅇㅇ</th>
                <td>ㄱㄱ</td>
                <th>ㄴㄴ</th>
                <td>ㄱㄱ</td>
            </tr>
            <tr>
                <th>ㄷㄷ</th>
                <td>ㄱㄱ</td>
                <th>ㄷㄷ</th>
                <td>ㅈㅈ</td>
            </tr>
        </table>
    </section>
</body>
</html>