html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.top-nav{
    height: 50px;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #fee;
}
.top-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
    margin: 0 auto;
}
.top-nav ul li {
    text-align: center;
}
.top-nav ul li:nth-child(1){
    margin-left: auto;
}
.top-nav ul li:nth-last-child(1){
    margin-right: auto;
}
.menu li:hover{
    border-bottom: 2px solid #f66;
}
